<h3 class="heading">
  <span>Сектор уровня <small>"<%= link_to @level.name, [@game, @level] %>"</small></span>
</h3>

<div class="errors">
  <%= error_messages_for @question, :header => "<h2>Ошибка</h2>" %>
</div>

<div class="answers">
  <h5 class="heading">
    <span>Варианты кода (<%= @question.answers.size %>):</span>
    <a data-toggle="new-answer-dropdown">добавить</a>
  </h5>
  <ul class="answers-list">
    <% @question.answers.each do |answer| %>
      <li class="answer-row" id="answer-<%= answer.id %>">
        <span class="answer user-input"><%= answer.value %></span>
        <span class="actions">
          <%= link_to "(удалить)", [@game, @level, @question, answer], :method => :delete %>
        </span>
      </li>
    <% end %>
  </ul>
  <div class="dropdown-pane" id="new-answer-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true" data-v-offset="8">
    <%= form_for :answer, :url => game_level_question_answers_path(@game, @level, @question), :data => { "model": "answer" } do |f| %>
      <div class="row">
        <%= f.label :value, t(:value, scope: [:activerecord, :attributes, :answer]) %>
        <%= f.text_field :value %>
      </div>
      <div class="row form-actions">
        <%= f.submit t(:submit, scope: [:activerecord, :attributes, :answer]) %>
      </div>
    <% end %>
  </div>
</div>

<%= form_for [@game, @level, @question], :action => game_level_question_path, :data => {"model": "question"} do |f| %>
  <%= render 'form', :f => f %>
  <div class="row form-actions">
    <%= f.submit t(:update, scope: [:activerecord, :attributes, :question]) %>
    <%= link_to "(вернуться)", [@game, @level] %>
  </div>
<% end %>