<h3 class="heading">
  <span>Уровень "<strong><%= @level.name %></strong>"</span>
  <small>(игра "<%= link_to @game.name, @game %>")</small>
</h3>

<div class="errors">
<%= error_messages_for @answer, :header => "<h2>Ошибка</h2>" %>
</div>

<%= form_for [@game, @level, @question], :action => :game_level_questions do |f| %>
  <div class="row">
    <%= f.label :correct_answer, t(:correct_answer, scope: [:activerecord, :attributes, :question]) %>
    <%= f.text_field :correct_answer %>
  </div>
  <div class="row form-actions">
    <%= f.submit  t(:submit, scope: [:activerecord, :attributes, :question]) %>
    <em><%= link_to "(отменить)", [@game, @level] %></em>
  </div>
<% end %>