<div class="errors">
  <%= error_messages_for @team, :header => "<h2>Ошибки</h2>" %>
</div>

<%= form_for @team, :action => :teams, :data => { "model": "team" }, :html => {:multipart => true} do |f| %>
  <%= render 'form', :team => @team, :f => f %>

  <div class="row form-actions">
    <%= f.submit t(:submit, scope: [:activerecord, :attributes, :team]) %>
    <%= link_to "(вернуться)", dashboard_path %>
  </div>
<% end %>