<div class="team-page">
  <h2 class="heading">
    <span>Команда &laquo;<%= @team.name %>&raquo;</span>
    <% if user_can_edit? %>
      <%= link_to "Расформировать", team_path, :method => :delete, :class => "heading-link", :data => {:confirm => "Вы уверены, что собираетесь удалить команду?"} %>
    <% end %>
  </h2>

  <div class="team-members">
    <h5 class="heading">
      <span>Состав</span>
      <% if user_can_edit? %>
        <a class="heading-link" data-toggle="new-invitation-dropdown">Пригласить участников</a>
      <% end %>
    </h5>
    <div class="dropdown-pane" id="new-invitation-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true" data-v-offset="8">
      <%= form_for :invitation, :url => invitations_path, :data => { "model": "invitation" } do |f| %>
        <div class="row">
          <% if User.free_players.empty? %>
            <p>Нет свободных игроков</p>
          <% else %>
            <%= f.label :for_user, t(:for_user, scope: [:activerecord, :attributes, :invitation]) %>
            <%= f.select :for_user, User.free_players.collect {|user| [user.nickname, user.id] } %>
          <% end %>
        </div>
        <div class="row form-actions">
          <%= f.submit t(:submit, scope: [:activerecord, :attributes, :invitation]), disabled: User.free_players.empty? %>
        </div>
      <% end %>
    </div>
    <ul class="members-list">
      <% @team.members.each do |member| %>
        <li><%= link_to member.nickname, [member] %> <%= "- капитан" if member.captain? %></li>
      <% end %>
    </ul>
  </div>

  <% if user_can_edit? %>
  <div class="team-controls">
    <%= render 'shared/current_games' %>
    <%= render 'dashboard/coming_games' %>
    <%= render 'dashboard/finished_games' %>
  </div>
  <% end %>
</div>