<div class="user-page">
  <%= render 'users/profile', :user => current_user %>
  <%= render 'dashboard/my_team' %>
  <%= render 'shared/current_games' %>
  <%= render 'dashboard/coming_games' %>
  <%= render 'dashboard/finished_games' %>
  <%= render 'games/game_entries', :game_entries => @game_entries  %>
</div>