<header>
  <div class="logo-block">
    <%= link_to :index_page, :class => "home-link no-underline" do %>
      <%= image_tag("/images/autoquest_logo.svg", :alt => "Автоквест") %>
    <% end %>
  </div>
  <a id="mobile-menu-toggle" class="mobile-menu hamburger hamburger--spin" aria-label="Menu" aria-controls="mobile-menu" href="#mobile-menu">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </a>
  <div class="nav-block">
    <%= render 'includes/top_menu' %>
    <div class="notifications">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>
</header>