<nav class="top-menu">
  <div class="nav-item">
    <%= link_to "Результаты игр", :stats %>
  </div>

  <div class="nav-item">
    <%= link_to "Команды", :teams %>
  </div>

  <div class="nav-item">
    <%= link_to "Участники", :users %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.access_level?(:admin) || current_user.access_level?(:organizer) %>
    <div class="nav-item">
      <%= link_to "Создать игру", :new_game %>
    </div>
    <% end %>
  <% end %>
  
  <%= render 'includes/login_menu' %>
</nav>