<p>
  Редактирование подсказки к заданию "<%= link_to @level.name, [@game, @level] %>" игры "<%= link_to @game.name,@game %>"
</p>

<br />

<%= error_messages_for @hint, :header => "<h2>Ошибка</h2>" %>

<%= form_for [@game, @level, @hint], :action => game_level_hints_path(@game, @level) do |f| %>

  <%= render 'form', :hint => @hint, :f => f %>

  <%= submit_tag "Отредактировать", :style => "width:150px" %>
  <em><%= link_to "(отменить)", [@hint.level.game, @hint.level] %></em>
<% end =%>