<div class="hint-add-page">
<h4>
    Новая подсказка для задания "<%= link_to @level.name, [@game, @level] %>" игры "<%= link_to @game.name, @game %>"
</h4>

<br />

<%= error_messages_for @hint, :header => "<h2>Ошибка</h2>" %>

<%= form_for [@game, @level, @hint], :action => game_level_hints_path(@game, @level) do |f| %>

  <%= render 'form', :hint => @hint, :f => f %>

  <div class="row form-actions">
    <%= f.submit t(:submit, scope: [:models, :hint]) %>
    <%= link_to "(отменить)", [@hint.level.game, @hint.level] %>
  </div>
<% end =%>
</div>

