<div class="table-scroll">
  <table class="<%= css_class %>">
    <thead>
      <tr>
      <% columns.each do |key, column| %>
        <td class="column-<%= key %>"><%= column[:label] %></td>
      <% end %>
      </tr>
    </thead>
    <tbody>
    <% rows.each do |row| %>
      <tr>
      <% columns.each do |key, column| %>
        <td class="column-<%= key %>"><%= column[:getter].call(row) %></td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>