<h4 class="heading">Приглашение участника</h4>

<%= error_messages_for @invitation %>

<%= form_for @invitation, :action => :invitations do |f| %>
    <%= f.label :for_user, t(:for_user, scope: [:activerecord, :attributes, :invitation]) %>
    <%= f.select :for_user, User.free_players.collect {|user| [user.nickname, user.id]} %>
    <%= f.submit t(:submit, scope: [:activerecord, :attributes, :invitation]), disabled: User.free_players.empty? %>
<% end %>