<div class="game-preview" data-title="<%= game.name %>">
  <h3 class="heading">
    <% if current_page?(game) %>
      <span><%= game.name %></span>
    <% else %>
      <a href="<%= url_for(game) %>"><%= game.name %></a>
    <% end %>
    <% if game.started? and !game.finished? %>
      <span class="sticker">в процессе</span>
    <% end %>
    <% if user_signed_in? and game.can_be_played_by?(current_user) %>
      <%= link_to "Войти", show_current_level_path(game.id), :class => 'right-link' %>
    <% elsif edit_context and user_signed_in? and current_user.can_edit?(game) %>
      <% if game.started? and !game.author_finished? %>
        <%= link_to "Завершить", end_game_game_path(game.id), :class => 'right-link' %>
      <% else %>
        <% if game.author_finished? %>
          <span class="sticker finished">завершена</span>
        <% end %>
        <%= link_to "Удалить", game, :class => 'right-link', :method => :delete %>
      <% end %>
    <% end %>
  </h3>
  <div class="game-preview-contents">
    <div class="main-part">
      <% if game.poster? %>
        <div class="game-poster">
          <%= image_tag game.poster.url %>
        </div>
      <% end %>
      <div class="game-description">
        <%= raw game.description %>
      </div>
      <% unless game.accessories.nil? or game.accessories.empty? %>
      <div class="game-accessories">
        <em>Дополнительные принадлежности</em>:
        <%= raw game.accessories %>
      </div>
      <% end %>
      <% unless game.notes.nil? or game.notes.empty? %>
      <div class="game-notes">
        <em>Примечания к игре</em>:
        <%= raw game.notes %>
      </div>
      <% end %>
    </div>
  </div>
  <%= render 'games/metadata', :game => game %>
</div>