<div class="game-page">
  <%= render 'games/preview', :game => @game, :edit_context => true %>

  <div class="game-players">
    <% if not @game_entries.empty? && user_signed_in? && current_user.can_edit?(@game)  %>
      <%= render 'games/game_entries', :game_entries => @game_entries %>
    <% end %>
    <% unless @teams.empty? %>
      <%= render 'games/teams', :teams => @teams %>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.can_edit?(@game) && !@game.published? %>
    <div class="game-controls">
      <div class="game-levels-list">
        <h4 class="heading">
          <span>Список уровней</span>
          <%= link_to "Добавить задание", new_game_level_path(@game), :class => "heading-link" unless @game.started? %>
        </h4>
        <%= render 'levels/list', :levels => @game.levels %>
      </div>
      <% if @game.draft? || @game.is_testing? %>
      <div class="game-testing">
        <h4 class="heading"><span>Тестирование игры</span></h4>
        <% if @game.draft? and !@game.started? and @game.levels and @game.levels.count > 0 %>
          <%= link_to 'Начать тестирование', start_test_game_path(@game.id) %>
        <% end %>

        <% if @game.is_testing? %>
          <%= link_to "Старт", show_current_level_path(@game.id)  %>
          <br />
          <%= link_to "Завершить тестирование", finish_test_game_path(@game.id) %>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>