<div class="game-page">
  <%= render 'games/preview', :game => @game %>

  <% if not @game_entries.empty? %>
  <div class="game-entries">
    <h4 class="heading">Подали заявку</h4>
    <%= render 'games/game_entries', :game_entries => @game_entries  %>
  </div>
  <% end %>
  <% if not @teams.empty? %>
  <div class="game-teams">
    <h4 class="heading">Участники</h4>
    <%= render 'games/teams', :teams => @teams  %>
  </div>
  <% end %>

  <% if user_signed_in? and current_user.author_of?(@game) %>
    <div class="game-controls">
      <div class="game-levels-list">
        <h4 class="heading">Список уровней</h4>
        <%= render 'levels/list', :levels => @game.levels %>
        <div class="actions">
        <%= link_to "Добавить новое задание", new_game_level_path(@game) if !@game.started? %>
        </div>
      </div>
      <div class="game-testing">
        <h4 class="heading">Тестирование игры</h4>
        <% if @game.draft? and !@game.started? and @game.levels and @game.levels.count > 0 %>
          <%= link_to 'Начать тестирование', start_test_game_path(@game.id) %>
        <% end %>

        <% if @game.is_testing? %>
          <%= link_to "Старт", show_current_level_path(@game.id) %>
          <br />
          <%= link_to "Завершить тестирование", finish_test_game_path(@game.id) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>