Новое задание для игры <%= @level.game.name %><br />
<br />

<%= error_messages_for @level, :header => "<h2>Ошибка</h2>" %>

<%= form_for [@level.game, @level] do |f| %>
  <%= render 'form', :hint => @hint, :f => f %>
  <div class="row">
    <%= f.label :correct_answer, t(:correct_answer, scope: [:models, :level]) %>
    <%= f.text_field :correct_answer %>
    <em><%= t(:correct_answer_hint, scope: [:models, :level]) %></em>
  </div>
  <div class="row">
      <%= f.submit  t(:submit, scope: [:models, :level]) %>
      <em><%= link_to "(отменить)", @level.game %></em>
  </div>
<% end =%>