<div class="level-page">
  <%= render 'navigation', :levels => @game.levels, :current => @level, :game => @game %>

  <h3 class="heading">
    <span>Уровень "<strong><%= @level.name %></strong>"</span>
    <small>(игра "<%= link_to @game.name, @game %>")</small>
    <%= link_to "Удалить", [@game, @level], :class => 'right-link', :method => :delete, :data => {:confirm => "Вы уверены, что собираетесь удалить уровень?"} %>
  </h3>

  <h4 class="page-section">Текст уровня:</h4>
  <div class="level-text fr-view"><%= @level.text.html_safe %></div>

  <div class="edit-link">
    <%= link_to "Редактировать параметры уровня", [:edit, @game, @level] %>
  </div>

  <hr class="invisible">

  <div class="level-codes">
    <% if @level.questions.size > 0 %>
      <h5>Коды (<%= @level.questions.size %>):</h5>
      <% unless @level.multi_question? %>
        <div class="level-code" id="question-<%= @level.questions.first.id %>">
          <span class="code-number">№1:</span>
          <span class="code-answers">
            <% @level.questions.first.answers.each do |answer| %>
              <span class="answer user-input"><%= answer.value %></span>
            <% end %>
          </span>
          <span class="actions">
            <a data-toggle="new-answer-dropdown">(добавить вариант)</a>
          <%= link_to "(редактировать)", edit_game_level_question_path(@game, @level, @level.questions.first) %>
          </span>
        </div>
        <div class="dropdown-pane" id="new-answer-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true" data-v-offset="8">
          <%= form_for :answer, :url => game_level_question_answers_path(@game, @level, @level.questions.first), :data => { "model": "answer" } do |f| %>
            <div class="row">
              <%= f.label :value, t(:value, scope: [:activerecord, :attributes, :answer]) %>
              <%= f.text_field :value %>
            </div>
            <div class="row form-actions">
              <%= f.submit t(:submit, scope: [:activerecord, :attributes, :answer]) %>
            </div>
          <% end %>
        </div>
      <% else %>
        <% @level.questions.each.with_index do |question, index| %>
          <div class="level-code" id="question-<%= question.id %>">
            <span class="code-number">№<%= index %>:</span>
            <span class="code-answers">
              <% question.answers.each do |answer| %>
                <span class="answer user-input"><%= answer.value %></span>
              <% end %>
            </span>
            <span class="actions">
            <a data-toggle="new-answer-dropdown-<%= index %>">(добавить вариант)</a>
            <%= link_to "(редактировать)", edit_game_level_question_path(@game, @level, question) %>
            <%= link_to "(удалить)", game_level_question_path(@game, @level, question), :method => :delete %>
            </span>
          </div>
          <div class="dropdown-pane" id="new-answer-dropdown-<%= index %>" data-dropdown data-auto-focus="true" data-close-on-click="true" data-v-offset="8">
            <%= form_for :answer, :url => game_level_question_answers_path(@game, @level, question), :data => { "model": "answer" } do |f| %>
              <div class="row">
                <%= f.label :value, t(:value, scope: [:activerecord, :attributes, :answer]) %>
                <%= f.text_field :value %>
              </div>
              <div class="row form-actions">
                <%= f.submit t(:submit, scope: [:activerecord, :attributes, :answer]) %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="add-link">
      <a data-toggle="new-question-dropdown">Добавить код</a>
      <div class="dropdown-pane" id="new-question-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true" data-v-offset="8">
        <%= form_for :question, :url => game_level_questions_path(@game, @level), :data => { "model": "question" } do |f| %>
          <div class="row">
            <%= f.label :correct_answer, t(:correct_answer, scope: [:activerecord, :attributes, :question]) %>
            <%= f.text_field :correct_answer %>
          </div>
          <div class="row form-actions">
            <%= f.submit t(:submit, scope: [:activerecord, :attributes, :question]) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="invisible">

  <div class="level-hints">
    <h4 class="page-section">Подсказки и спойлеры:</h4>
    
    <%= render 'hints/list', :hints => @level.hints %>

    <div class="add-link">
      <%= link_to "Добавить подсказку", [:new, @game, @level, :hint] %>
    </div>
  </div>

  <div class="page-actions">
    <span class="page-action">
      <%= link_to "Вернуться к игре \"#{@level.game.name}\"", @level.game %>
    </span>
  </div>
</div>