<h2>
  Задание "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(игра "<%= link_to @game.name, @game %>")</em>
</p>

<br />

<p>
  <em>Текст задания:</em>
</p>

<p>
  <%= @level.text %>
</p>

<p>
  <%= link_to "Редактировать текст и название задания", [:edit, @game, @level] unless @level.game.started? %>
</p>

<br />

<% if @level.questions.size > 0 %>
  <% unless @level.multi_question? %>
    <p>
      <em>Код:</em>
      <div id="question-<%= @level.questions.first.id %>">
        <%= @level.correct_answer %>
        <%= link_to "(редактировать)", game_level_question_answers_path(@game, @level, @level.questions.first) %>
      </div>
    </p>
  <% else %>
    <p>
      <em>Коды (<%= @level.questions.size %>):</em>
    </p>
    <% @level.questions.each do |question| %>
      <div id="question-<%=  question.id %>">
        <p><%= question.correct_answer %></p>
        <%= link_to "(редактировать)", game_level_question_answers_path(@game, @level, question) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<p>
  <%= link_to "Добавить ещё один код", [:new, @game, @level, :question] %>
</p>

<br />

<fieldset>
  <legend>
    Подсказки:
  </legend>

  <p>
    <%= render 'hints/list', :hints => @level.hints %>
  </p>

  <p>
    <%= link_to "Добавить подсказку", [:new, @game, @level, :hint] %>
  </p>
</fieldset>

<br />

<p>
  <%= link_to "Удалить этот уровень", [@game, @level], :method => :delete %> <br />
</p>

<br />

<p>
  <%= link_to "Вернуться к игре \"#{@level.game.name}\"", @level.game %>
</p>