<div class="level-page">
  <%= render 'navigation', :levels => @game.levels, :current => @level, :game => @game %>

  <h3 class="heading">
    <span>Уровень "<strong><%= @level.name %></strong>"</span>
    <small>(игра "<%= link_to @game.name, @game %>")</small>
    <%= link_to "Удалить", [@game, @level], :class => 'right-link', :method => :delete %>
  </h3>

  <h4 class="page-section">Текст уровня:</h4>
  <div class="level-text"><%= @level.text.html_safe %></div>

  <div class="edit-link">
    <%= link_to "Редактировать параметры уровня", [:edit, @game, @level] %>
  </div>

  <hr class="invisible">

  <div class="level-codes">
    <% if @level.questions.size > 0 %>
      <h5>Коды (<%= @level.questions.size %>):</h5>
      <% unless @level.multi_question? %>
        <div class="level-code" id="question-<%= @level.questions.first.id %>">
          <span class="code-number">№1:</span>
          <span class="code-answers">
            <% @level.questions.first.answers.each do |answer| %>
              <span class="answer user-input"><%= answer.value %></span>
            <% end %>
          </span>
          <span class="actions">
          <%= link_to "(редактировать)", game_level_question_answers_path(@game, @level, @level.questions.first) %>
          </span>
        </div>
      <% else %>
        <% @level.questions.each.with_index do |question, index| %>
          <div class="level-code" id="question-<%= question.id %>">
            <span class="code-number">№<%= index %>:</span>
            <span class="code-answers">
              <% question.answers.each do |answer| %>
                <span class="answer user-input"><%= answer.value %></span>
              <% end %>
            </span>
            <span class="actions">
            <%= link_to "(редактировать)", game_level_question_answers_path(@game, @level, question) %>
            <%= link_to "(удалить)", game_level_question_path(@game, @level, question), :method => :delete %>
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="add-link">
      <%= link_to "Добавить ещё один код", [:new, @game, @level, :question] %>
    </div>
  </div>

  <hr class="invisible">

  <div class="level-hints">
    <h4 class="page-section">Подсказки и спойлеры:</h4>
    
    <%= render 'hints/list', :hints => @level.hints %>

    <div class="add-link">
      <%= link_to "Добавить подсказку", [:new, @game, @level, :hint] %>
    </div>
  </div>

  <div class="page-actions">
    <span class="page-action">
      <%= link_to "Вернуться к игре \"#{@level.game.name}\"", @level.game %>
    </span>
  </div>
</div>