<div class="game_admin_menu-block special-block">
  <h3 class="heading">Управление игрой</h3>
  <ul class="vertical menu">
    <li <%= current_page?(game_path(model)) ? 'class="is-active"' : '' %>>
      <%= link_to "Просмотр игры", game_path(model) %>
    </li>
    <% if !model.published? %>
      <li <%= current_page?(edit_game_path(model)) ? 'class="is-active"' : '' %>>
        <%= link_to "Настройки игры и анонс", edit_game_path(model) %>
      </li>
      <% if model.levels.empty? %>
        <li <%= current_page?(new_game_level_path(model)) ? 'class="is-active"' : '' %>>
          <%= link_to "Добавить уровень", new_game_level_path(model) %>
        </li>
      <% else %>
        <li <%= current_page?(game_level_path(model, model.levels.first)) ? 'class="is-active"' : '' %>>
          <%= link_to "Редактирование уровней", game_level_path(model, model.levels.first) %>
        </li>
      <% end %>
    <% end %>
    <% if model.started? && !model.finished? %>
      <li <%= current_page?(game_stats_path(model)) ? 'class="is-active"' : '' %>>
        <%= link_to "Мониторинг команд", game_stats_path(model) %>
      </li>
    <% elsif model.finished? %>
      <li <%= current_page?(game_stats_path(model)) ? 'class="is-active"' : '' %>>
        <%= link_to "Статистика команд", game_stats_path(model) %>
      </li>
    <% end %>
  </ul>
</div>