<h3 class="heading">
  <span>Лог ответов команды &laquo;<%= link_to @team.name, @team %>&raquo;</span>
  <%= link_to "Назад к статистике", game_stats_path(@game), :class => 'right-link' %>
</h3>

<% @game.levels.each do |level| %>
  <h4><%= level.name %></h4>
  <strong>Верный код:</strong>&nbsp;<%= level.questions.first.correct_answer %>
  <ul>
  <% logs = Log.of_game(level) %>
  <% logs.each do |log| %>
    <li><%= log.time.strftime("%H:%M:%S") %>&nbsp;<%= log.answer %></li>
  <% end %>
  </ul>
<%  end %>