<!DOCTYPE html>
<html>
  <head>
    <title>Активные городские игры</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %> 
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div id="encounter-app">
      <div class="app-grid">

        <div class="header-section">
          <div class="header-container">
            <%= render 'includes/header' %>
          </div>
        </div>
        
        <div class="center-section">
          <div class="center-container">
            <div class="center-columns">
              <div class="main-container">
                <article>
                  <%= yield %>
                </article>
              </div>
              <div class="sidebar-container">
                <%= render 'includes/sidebar' %>
              </div>
            </div>
          </div>
        </div>
<!-- 
        <div class="footer-container">
          <%= render 'includes/footer' %>
        </div> -->

      </div>
    </div>      
  </body>
</html>
