<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Активные городские игры</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <script type="application\json" x-app-data>
      <%= app_data_helper %>      
    </script>
    <%= stylesheet_pack_tag 'in_game' %>
    <%= javascript_pack_tag 'in_game' %> 
  </head>
  <body>
    <encounter-game></encounter-game>
  </body>
</html>