<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Активные городские игры</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= javascript_pack_tag 'in_game' %> 
    <%= stylesheet_pack_tag 'in_game' %>
  </head>
  <body>
    <div id="encounter-game">
      <div class="app-grid">

        <div class="header-container">
          <%= render 'includes/in_game/header' %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        
        <div class="center-container">
          <div class="main-container">
            <article>
              <%= yield %>
            </article>
          </div>
        </div>

        <div class="footer-container">
            <%= render 'includes/in_game/footer' %>
        </div>

      </div>
    </div>     

  </body>
</html>