<!DOCTYPE html>
<html>
  <head>
    <title><%= get_setting('site_name') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'website' %>
    <%= javascript_pack_tag 'website' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script>
  </head>

  <body>
    <div id="encounter-app" class="website-section controller-<%= controller_name %>">
      <div class="app-grid">

        <div class="header-section">
          <div class="header-container">
            <%= render 'includes/header' %>
          </div>
        </div>

        <div class="top-promo-section">
          <%= render 'includes/top_promo' %>
        </div>
        
        <div class="center-section">
          <div class="center-container">
            <div class="center-columns">
              <div class="main-container">
                <article>
                  <%= yield %>
                </article>
              </div>
              <% if render_sidebar? %>
              <div class="sidebar-container">
                <%= render 'includes/sidebar' %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="bottom-promo-section">
          <%= render 'includes/bottom_promo' %>
        </div>

        <div class="footer-section">
          <div class="footer-container">
            <%= render 'includes/footer' %>
          </div>
        </div>

      </div>

      <%= render 'includes/mobile_menu' %>
    </div>      
  </body>
</html>
